.uxui-main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.uxui-element {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 20px;
  background-color: rgb(88, 88, 88);
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.uxui-codebox {
  border-radius: 12px;
  margin: 20px;
  background-color: rgb(230, 230, 230);
  height: 400px;
  width: 800px;
}
