.header-main {
  font-size: 1.3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #20262d;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  color: rgb(151, 144, 144);
}
.logo-container {
  margin-left: 150px;
  font-size: 2rem;
}

.nav-container {
  margin-right: 150px;
  margin-left: auto;
  display: flex;
}

.nav-link {
  color: rgb(199, 197, 197);
  text-decoration: none;
  font-weight: bold;
  margin-right: 50px;
  transition: all 0.5s ease;
}

.nav-link:hover {
  scale: 1.05;
}
