.card-main {
  background-color: #2b333c;
  color: rgb(195, 195, 195);
  margin: 20px;
  border: 1px solid rgba(35, 35, 35, 0.484);
  height: 550px;
  width: 400px;
  border-radius: 12px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: all 0.5s ease;
}

.card-main:hover {
  scale: 1.02;
}

.card-content {
  text-align: center;
}

.card-image {
  width: 100%;
  height: 250px;
}

.card-content h1 {
  font-size: 32px;
}
.card-content h6 {
  font-size: 18px;
}

.card-link-button {
  height: 50px;
  width: 200px;
  border: 1px solid rgba(249, 249, 249, 0.333);
  margin: 20px;
  font-size: 1.2rem;
  border-radius: 50px;
  font-weight: bold;
  background-color: #455260;
  color: rgb(195, 195, 195);
  transition: all 0.3s ease;
}

.card-link-button:hover {
  cursor: pointer;
  scale: 1.02;
}
